@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  background-color: #6F34FE !important;
  color: #ffff !important;
}

/* primary button */
.primaryBtn{
    @apply bg-primaryColor text-white font-Josefin py-3 px-10 text-lg rounded-full font-semibold hover:-translate-y-1 hover:bg-secondaryColor;
    transition: transform 0.3s ease; 
}
.border-transition {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid #6F34FE;
    transition: border-image 0.3s ease; 
}

.border-transition:hover {
    border-image: linear-gradient(to right, #6F34FE, #FF9800); 
    border-image-slice: 1; 
}

.contactIcon{
    @apply bg-primaryColor p-2 rounded-full text-5xl;
    width: 50px;
}
.contactInfo-details:hover .contactIcon{
   background-color: #6F34FE; 
   border: 2px solid #fff;
}

.borderAnimation{
    display: inline-block;
    text-decoration: none;
}
.borderAnimation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #6F34FE;
    transition: width .3s;
}

.borderAnimation:hover::after {
    width: 100%;
    /* transition: width .3s; */
}

.card:hover .cardImage{
    transform: scale(1.1);
  }
  .cardImage {
    transition: transform 0.5s;
  }

.projectImg { transition: all .2s ease-in-out; }
.projectImg:hover { 
    transform: scale(1.1); 
    
}


/* BLOB CSS ANIMATION */
@keyframes blob-animation {
    0% {
      border-radius: 50% 32% 20% 70%/60% 40% 55% 40%;
    }
  
    25% {
      border-radius: 40% 57% 40% 81% / 84% 76% 45% 38%;
    }
  
    50% {
      border-radius: 25% 68% 40% 46% / 59% 36% 45% 38%;
    }
  
    75% {
      border-radius: 40% 27% 26% 58%/70% 36% 64% 32%;
    }
  
    100% {
      border-radius: 50% 32% 20% 70%/60% 40% 55% 40%;
    }
  }
  
  .profile-image-container {
    width: 450px;
    height: 450px;
    margin: 0px auto;
    vertical-align: middle;
  }
  
  .profile-image-container .avatarImg {
    animation: blob-animation 2.5s linear infinite;
    border: 2px solid #e0aa62;
    border-radius: 50% 32% 20% 70%/60% 40% 55% 40%;
    width: 100%;
    height: 100%;
  }
  

  @media all and (max-width: 480px) {
    .profile-image-container {
      margin-top: 30px !important;
      width: 360px;
      height: 360px;
      margin: 0px auto;
      vertical-align: middle;
    }
  }

  .floatingImage{
    transform: translateY(-10%);
    animation: floater 2s infinite;
    transition: ease 0.5s;
  }
  
  @keyframes floater {
    0% {
      transform: translateY(-10%);
      transition: ease 0.5s;
    }
    50% {
      transform: translateY(10%);
      transition: ease 0.5s;
    }
  }