@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary button */
.primaryBtn{
    @apply bg-primaryColor text-white font-Josefin py-3 px-10 text-lg rounded-full font-semibold hover:-translate-y-1 hover:bg-secondaryColor;
    transition: transform 0.3s ease; 
}
.border-transition {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    transition: border-image 0.3s ease; 
}

.border-transition:hover {
    border-image: linear-gradient(to right, #6F34FE, #FF9800); 
    border-image-slice: 1; 
}

.contactIcon{
    @apply bg-primaryColor p-2 rounded-full text-5xl;
}
.contactInfo-details:hover .contactIcon{
   background-color: #6F34FE; 
   border: 2px solid #fff;
}

.borderAnimation{
    display: inline-block;
    text-decoration: none;
}
.borderAnimation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #6F34FE;
    transition: width .3s;
}

.borderAnimation:hover::after {
    width: 100%;
    /* transition: width .3s; */
}

.card:hover .cardImage{
    transform: scale(1.1);
  }
  .cardImage {
    transition: transform 0.5s;
  }

.projectImg { transition: all .2s ease-in-out; }
.projectImg:hover { 
    transform: scale(1.1); 
    
}